body{
    margin: 0;
    padding: 20px;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 25px 2px;
}

.navbar ul img{
    width: 10%;
}